{% extends "layouts/base.html" %}
{% block nav_home %}active{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}
  Computer Cube
{% endblock %}

{% block content %}
  <div class="text-center">
    <h1 class="h3 mb-3 font-weight-normal">Hej {% if not (current_user.is_authenticated) %} och välkommen till Computer Cube's officiella hemsida! <a class="underlineable" href="/register">Registrera</a> ett konto eller <a class="underlineable" href="/login">Logga in!</a> {% else %} {{ current_user.username }}, och välkommen till Computer Cube's officiella hemsida! {% endif %}</h1>
  </div>
{% endblock %}