{% extends "layouts/base.html" %}
{% block nav_home %}active{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}
  Computer Cube
{% endblock %}

{% block content %}
  <div class="text-center">Hej {% if not (current_user.is_authenticated) %} och välkommen till Computer Cube's officiella hemsida! {% else %} {{ current_user.username }}, och välkommen till Computer Cube's officiella hemsida! {% endif %}</div>
{% endblock %}