{% extends "layouts/base.html" %}
{% block nav_contact %}active{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}
{% block custom_head_tags %}
  <link rel="stylesheet" href="{{ url_for('static', filename='contact_styles.css') }}">
{% endblock %}


{% block title %}
  Kontakta Oss
{% endblock %}

{% block content %}
  <div class="contact-container">
    <div class="text-center">
      <h2>Kontakta Oss</h2>
      <p>Om du har ett problem eller behöver info kontakta oss med formuläret nedan</p>
    </div>
    <div class="row">
      <div class="column">
        <img src="#" style="width:100%">
      </div>
      <div class="column">
        <form method="POST">
          {{ supportform.hidden_tag() }}
          <label for="name">Namn</label>
          {{ supportform.name(placeholder="Ditt förnamn och efternamn") }}
          <label for="email">Email</label>
          {{ supportform.email_address(placeholder="Din email address") }}
          <label for="subject">Ämne</label>
          {{ supportform.subject(placeholder="Beskriv ditt ämne", style="height:170px") }}
          {{ supportform.submit() }}
        </form>
      </div>
    </div>
  </div>
  <div class="icons">
    <span class="material-icons-outlined mdo-dark mdo-36">mail</span>
    <span class="material-icons-outlined mdo-dark mdo-36">location_on</span>
    <span class="material-icons-outlined mdo-dark mdo-36">phone</span>
  </div>
{% endblock %}