{% extends "layouts/base.html" %}
{% block nav_services %}active{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
{% endblock %}

{% block title %}
  Computer Cube
{% endblock %}

{% block content %}
  <div class="service-container">
    <div class="text-center">
      <h2>Tjänster</h2>
      <p class="superservicep">Här finns våra olika tjänster och erbjudanden</p>
      <div class="servicecard1">
        <img class="serviceimg1" src="#">
        <p class="servicep1">Hello this is text, text and maybe some more text, god wow it is alot of text. But wow is there still more text to come, I wonder what will happen in the next chapter in Dragon ball super</p>
      </div>
      <div class="servicecard2">
        <img class="serviceimg2" src="#">
        <p class="servicep2">Hello this is text, text and maybe some more text, god wow it is alot of text. But wow is there still more text to come, I wonder what will happen in the next chapter in Dragon ball super</p>
      </div>
      <div class="servicecard3">
        <img class="serviceimg3" src="#">
        <p class="servicep3">Hello this is text, text and maybe some more text, god wow it is alot of text. But wow is there still more text to come, I wonder what will happen in the next chapter in Dragon ball super</p>
      </div>
    </div>
  </div>
{% endblock %}