{% extends "base.html" %}
{% block nav_about %}active{% endblock %}

{% block title %}
  Computer Cube
{% endblock %}

{% block content %}
  <img class="GroupImage" src="/static/computercube.png"> <!--Image is currently a placeholder, we need to take a group photo-->
  <h1 class="AboutUsTitle">
    Om oss på Computer Cube
  </h1>
  <p class="AboutUsText">
    Vi på Computer Cube jobbar för att alla kunder ska känna sig nöjda med deras produkter. <br>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab quisquam vero, soluta rem architecto sed minus molestias provident? Nemo explicabo, dolores repellendus rerum molestiae est enim magnam odit fuga qui.
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Mollitia ducimus illum laudantium reprehenderit? Cupiditate vitae ex officiis in, commodi, atque at delectus, repellat blanditiis nobis vero voluptas voluptates quaerat tempore.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit, mollitia neque iusto quas totam quaerat nam tempora. Consequatur impedit nisi rerum commodi perspiciatis autem, sit, neque deserunt voluptatum nam beatae.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi temporibus cum vitae, labore quis reiciendis delectus officiis ducimus? Laudantium distinctio, commodi cum architecto dolore delectus laboriosam dolores porro! Iste, ea?
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolore, laudantium enim. Accusantium corrupti, delectus a natus et beatae. Deleniti quod debitis ea voluptate assumenda minima aliquid tempora at architecto officiis.
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque voluptatibus quia sed voluptates rem ea aliquam ducimus necessitatibus maxime. Fuga neque quam beatae, dolore eum atque aliquam delectus laudantium ab?
  </p>
{% endblock %}