/* CSS HEX */
--glaucous: #718fc2ff;
--gunmetal: #2b303aff;
--dark-sea-green: #79b791ff;
--seashell: #fff4ecff;
--white: #ffffffff;

/* CSS HSL */
--glaucous: hsla(218, 40%, 60%, 1);
--gunmetal: hsla(220, 15%, 20%, 1);
--dark-sea-green: hsla(143, 30%, 60%, 1);
--seashell: hsla(25, 100%, 96%, 1);
--white: hsla(0, 0%, 100%, 1);

/* SCSS HEX */
$glaucous: #718fc2ff;
$gunmetal: #2b303aff;
$dark-sea-green: #79b791ff;
$seashell: #fff4ecff;
$white: #ffffffff;

/* SCSS HSL */
$glaucous: hsla(218, 40%, 60%, 1);
$gunmetal: hsla(220, 15%, 20%, 1);
$dark-sea-green: hsla(143, 30%, 60%, 1);
$seashell: hsla(25, 100%, 96%, 1);
$white: hsla(0, 0%, 100%, 1);

/* SCSS RGB */
$glaucous: rgba(113, 143, 194, 1);
$gunmetal: rgba(43, 48, 58, 1);
$dark-sea-green: rgba(121, 183, 145, 1);
$seashell: rgba(255, 244, 236, 1);
$white: rgba(255, 255, 255, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-right: linear-gradient(90deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-bottom: linear-gradient(180deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-left: linear-gradient(270deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-top-right: linear-gradient(45deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-bottom-right: linear-gradient(135deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-top-left: linear-gradient(225deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-bottom-left: linear-gradient(315deg, #718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);
$gradient-radial: radial-gradient(#718fc2ff, #2b303aff, #79b791ff, #fff4ecff, #ffffffff);