/* Main config */
:root {
  --htmlFontSize: 100%;
  --bodyFontFamily: "Open Sans";
  --bodyFontFamilyFallback: sans-serif;
  --bodyFontSize: 0.875rem;
  --bodyFontWeight: 400;
  --bodyLineHeight: 1.5;
}

/* Google Icons */

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Google Icons Outlined */

/* Rules for sizing the icon. */
.material-icons-outlined.mdo-18 { font-size: 18px; }
.material-icons-outlined.mdo-24 { font-size: 24px; }
.material-icons-outlined.mdo-36 { font-size: 36px; }
.material-icons-outlined.mdo-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons-outlined.mdo-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons-outlined.mdo-dark.mdo-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons-outlined.mdo-light { color: rgba(255, 255, 255, 1); }
.material-icons-outlined.mdo-light.mdo-inactive { color: rgba(255, 255, 255, 0.3); }

/* Base layout */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 100%;
  font-size: var(--htmlFontSize);
}

body {
  /*background-color: #2c3338;
  background-color: var(--bodyBackgroundColor);
  color: #606468;
  color: var(--bodyColor);*/
  font-family: "Open Sans", sans-serif;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: 0.875rem;
  font-size: var(--bodyFontSize);
  font-weight: 400;
  font-weight: var(--bodyFontWeight);
  line-height: 1.5;
  line-height: var(--bodyLineHeight);
  margin: 0;
  height: 100vh;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.main_content-container {
  padding-bottom: 60px;
  margin-top: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
}

a {
  text-decoration: none;
}

.underlineable:focus, .underlineable:hover {
  text-decoration: underline;
}

/* Home page */


/* Services page */
.serviceimg1 {
  width: 20vw; 
  height: 15vw; 
  float: left; 
  margin-left: 3vw;
}

.servicep1 {
  float: left; 
  margin-left: 10px; 
  margin-top: 5px; 
  max-width: 25vw; 
  text-align: left;
}

.serviceimg2 {
  width: 20vw; 
  height: 15vw; 
  float: right; 
  margin-right: 3vw;
}

.servicep2 {
  float: right; 
  margin-right: 10px; 
  margin-top: 5px; 
  max-width: 25vw; 
  text-align: left;
}

.servicecard2 {
  margin-top: 25vh;
}

.serviceimg3 {
  width: 20vw; 
  height: 15vw; 
  float: left; 
  margin-left: 3vw;
}

.servicep3 {
  float: left; 
  margin-left: 10px; 
  margin-top: 5px; 
  max-width: 25vw; 
  text-align: left;
}

.servicecard3 {
  margin-top: 50vh;
}

.service-container {
  height: 100vh;
}

/* About us page */
.GroupImage {
  width: 700px; /* 600px for 40% width, aka first image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.AboutUsText {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 52%; /* 40% if changed to 600px */
}

.AboutUsTitle {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 52%; /* 40% if changed to 600px */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Contact page */


/* Login page */


/* All pages */
input:focus::placeholder {
  transition: color 0.5s 0.1s ease;
  color: transparent;
}

textarea:focus::placeholder {
  transition: color 0.5s 0.1s ease;
  color: transparent;
}