/* Base page content */
.register-btn{
  position: absolute;
  right: 15px;
}

.page-container{
  position: relative;
  min-height: 100vh;
}

.main_content-container{
  padding-bottom: 50px;
  margin-top: 30px;
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

/* body{
  min-height: 100%;
}

footer{
  clear: both;
  position: relative;
  height: 50px;
  margin-top: -50px;
} */

/* Home page */


/* Services page */


/* About us page */
.GroupImage{
  width: 700px; /* 600px for 40% width, aka first image */
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 50px;
}

.AboutUsText{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 52%; /* 40% if changed to 600px */
}

.AboutUsTitle{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 52%; /* 40% if changed to 600px */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Contact page */


/* Login page */


/* All pages */